{% extends 'base.html' %}

{% block title %}RIT directory {% endblock title %}

{% block header %}
  Admin Access
{% endblock header %}

{% block content %}
  {% if error %}
    <div class="alert alert-danger" role="alert">
    {{error}}
    </div>
  {% endif %}
  {% if people | length <=0 %}
      <form method="POST">
        <div class="text-center">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Password</label>
                <input type="text" class="form-control" name="password" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
  {% endif %}
  <br/>
  {% if people|length > 0 %}
    <h2>RIT Secret Directory</h2>
    <h2>{{flag}}</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Home Address</th>
        </tr>
      </thead>
      <tbody>
        {% for person in people %}
          <tr>
            <td>{{ person[0]}}</td>
            <td>{{ person[1]}}</td>
            <td>{{ person[2]}}</td>
            <td>{{ person[3]}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock content %}